<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script type="text/javascript" src="/media/jquery-ui/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/jquery-ui/js/jquery-ui-1.8rc1.custom.min.js"></script>
    <script src="/media/jquery-splitter/splitter.js" type="text/javascript"></script>
    <script src="/media/codemirror/js/codemirror.js" type="text/javascript"></script>
    <script src="/media/ray/src/jquery.ray.js" type="text/javascript"></script>
    <script src="/media/ray/src/jquery.rayWorkspace.js" type="text/javascript"></script>
    <!--script src="/media/ray/src/jquery.rayMirrorEditor.js" type="text/javascript"></script-->
    <!--script src="/media/ray/src/jquery.rayFilebrowser.js" type="text/javascript"></script-->
    <!--script src="/media/ray/src/jquery.rayPixlr.js" type="text/javascript"></script-->
    <!--script src="/media/pixlr/_script/pixlr.js" type="text/javascript"></script-->
    <!--script src="/media/jquery-contextMenu/jquery.contextMenu.js" type="text/javascript"></script-->
    <!--link  href="/media/jquery-contextMenu/jquery.contextMenu.css" rel="stylesheet" type="text/css" /-->
    <link  href="/media/ray/css/jquery.ray.css" rel="stylesheet" type="text/css" />
    <link  href="/media/ray/css/jquery.splitter.css" rel="stylesheet" type="text/css" />
    <link  href="/media/jquery-ui/css/custom-theme/jquery-ui-1.8rc1.custom.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript"> 
		//Global setting edit these
	////pixlr.settings.target = 'http://developer.pixlr.com/save_post_modal.php';
	////pixlr.settings.exit = 'http://developer.pixlr.com/exit_modal.php';
	////pixlr.settings.credentials = true;
	////pixlr.settings.method = 'post';
	</script>     
    <title>Django Ray Editor</title>
  </head>
  <body>
    
  </body>
</html>

