<table class="ui-ray-svn-log" cellpadding="0">
    <thead>
        <tr>
            <th>Rev</th>
            <th style="width:1px;overflow:hidden;"></th>
            <th style="width:1px;overflow:hidden;"></th>
            <th>Message</th>
            <th>Date</th>
            <th>Author</th>
        </tr>
    </thead>
 <tbody><tr>
 <td class="id"><a href="detail?r=750">r750</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=750')" colspan="2"></td>
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=750')">
 <div><a href="detail?r=750" onclick="cancelBubble=true">[No log message]</a></div></td>
 <td nowrap="nowrap" title="Fri Feb 12 09:43:40 2010" onclick="if (!cancelBubble) _go('detail?r=750')"><a href="detail?r=750" onclick="cancelBubble=true">Yesterday (34 hours ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=750')"><div><a href="detail?r=750" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 <tr>
 <td class="id"><a href="detail?r=749">r749</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=749')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=749')">
 <div><a href="detail?r=749" onclick="cancelBubble=true">Applied slugify.patch provided by Stefan (code cleanup)</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb 11 11:58:42 2010" onclick="if (!cancelBubble) _go('detail?r=749')"><a href="detail?r=749" onclick="cancelBubble=true">Feb 11 (2 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=749')"><div><a href="detail?r=749" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=748">r748</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=748')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=748')">
 <div><a href="detail?r=748" onclick="cancelBubble=true">Created wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb 11 08:50:55 2010" onclick="if (!cancelBubble) _go('detail?r=748')"><a href="detail?r=748" onclick="cancelBubble=true">Feb 11 (2 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=748')"><div><a href="detail?r=748" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=747">r747</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=747')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=747')">
 <div><a href="detail?r=747" onclick="cancelBubble=true">[No log message]</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb 11 05:52:31 2010" onclick="if (!cancelBubble) _go('detail?r=747')"><a href="detail?r=747" onclick="cancelBubble=true">Feb 11 (2 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=747')"><div><a href="detail?r=747" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 <td class="id"><a href="detail?r=746">r746</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=746')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=746')">
 <div><a href="detail?r=746" onclick="cancelBubble=true">[No log message]</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb 11 05:50:43 2010" onclick="if (!cancelBubble) _go('detail?r=746')"><a href="detail?r=746" onclick="cancelBubble=true">Feb 11 (2 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=746')"><div><a href="detail?r=746" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=745">r745</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=745')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=745')">
 <div><a href="detail?r=745" onclick="cancelBubble=true">* proof of concept: 2nd try</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb 11 05:44:15 2010" onclick="if (!cancelBubble) _go('detail?r=745')"><a href="detail?r=745" onclick="cancelBubble=true">Feb 11 (2 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=745')"><div><a href="detail?r=745" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=744">r744</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=744')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=744')">
 <div><a href="detail?r=744" onclick="cancelBubble=true">* proof of concept fail :(</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb 11 05:31:58 2010" onclick="if (!cancelBubble) _go('detail?r=744')"><a href="detail?r=744" onclick="cancelBubble=true">Feb 11 (2 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=744')"><div><a href="detail?r=744" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 <td class="id"><a href="detail?r=743">r743</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=743')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=743')">
 <div><a href="detail?r=743" onclick="cancelBubble=true">Applied Stefan's patch for collapsed group containing errors</a></div></td>
 
 <td nowrap="nowrap" title="Tue Feb  9 13:29:33 2010" onclick="if (!cancelBubble) _go('detail?r=743')"><a href="detail?r=743" onclick="cancelBubble=true">Feb 09 (4 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=743')"><div><a href="detail?r=743" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=742">r742</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=742')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=742')">
 <div><a href="detail?r=742" onclick="cancelBubble=true">Edited wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 22:31:11 2010" onclick="if (!cancelBubble) _go('detail?r=742')"><a href="detail?r=742" onclick="cancelBubble=true">Feb 08 (4 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=742')"><div><a href="detail?r=742" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 <td class="id"><a href="detail?r=741">r741</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=741')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=741')">
 <div><a href="detail?r=741" onclick="cancelBubble=true">Edited wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 22:29:43 2010" onclick="if (!cancelBubble) _go('detail?r=741')"><a href="detail?r=741" onclick="cancelBubble=true">Feb 08 (4 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=741')"><div><a href="detail?r=741" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=740">r740</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=740')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=740')">
 <div><a href="detail?r=740" onclick="cancelBubble=true">Edited wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 22:29:13 2010" onclick="if (!cancelBubble) _go('detail?r=740')"><a href="detail?r=740" onclick="cancelBubble=true">Feb 08 (4 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=740')"><div><a href="detail?r=740" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=739">r739</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=739')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=739')">
 <div><a href="detail?r=739" onclick="cancelBubble=true">Edited wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 22:28:30 2010" onclick="if (!cancelBubble) _go('detail?r=739')"><a href="detail?r=739" onclick="cancelBubble=true">Feb 08 (4 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=739')"><div><a href="detail?r=739" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=738">r738</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=738')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=738')">
 <div><a href="detail?r=738" onclick="cancelBubble=true">Edited wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 22:21:21 2010" onclick="if (!cancelBubble) _go('detail?r=738')"><a href="detail?r=738" onclick="cancelBubble=true">Feb 08 (4 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=738')"><div><a href="detail?r=738" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=737">r737</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=737')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=737')">
 <div><a href="detail?r=737" onclick="cancelBubble=true">* "fixed" app_label of custom.models to work properly (i.e. with syncdb)</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 09:37:57 2010" onclick="if (!cancelBubble) _go('detail?r=737')"><a href="detail?r=737" onclick="cancelBubble=true">Feb 08 (5 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=737')"><div><a href="detail?r=737" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=736">r736</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=736')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=736')">
 <div><a href="detail?r=736" onclick="cancelBubble=true">* fixed import calls;
* svn ignore for pyc files
* delete pyc files</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 08:31:25 2010" onclick="if (!cancelBubble) _go('detail?r=736')"><a href="detail?r=736" onclick="cancelBubble=true">Feb 08 (5 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=736')"><div><a href="detail?r=736" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=735">r735</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=735')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=735')">
 <div><a href="detail?r=735" onclick="cancelBubble=true">* inital commit of grappelli 3 (django.contrib.admin and grappelli/trunk)</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 07:36:35 2010" onclick="if (!cancelBubble) _go('detail?r=735')"><a href="detail?r=735" onclick="cancelBubble=true">Feb 08 (5 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=735')"><div><a href="detail?r=735" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=734">r734</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=734')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=734')">
 <div><a href="detail?r=734" onclick="cancelBubble=true">* add branches for 2.x</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 07:20:49 2010" onclick="if (!cancelBubble) _go('detail?r=734')"><a href="detail?r=734" onclick="cancelBubble=true">Feb 08 (5 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=734')"><div><a href="detail?r=734" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 <td class="id"><a href="detail?r=733">r733</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=733')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=733')">
 <div><a href="detail?r=733" onclick="cancelBubble=true">- django.contrib.admin + grappelli = grappelli3</a></div></td>
 
 <td nowrap="nowrap" title="Mon Feb  8 07:01:36 2010" onclick="if (!cancelBubble) _go('detail?r=733')"><a href="detail?r=733" onclick="cancelBubble=true">Feb 08 (5 days ago)</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=733')"><div><a href="detail?r=733" onclick="cancelBubble=true">klemens.mantzos</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=732">r732</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=732')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=732')">
 <div><a href="detail?r=732" onclick="cancelBubble=true">Edited wiki page through web user interface.</a></div></td>
 
 <td nowrap="nowrap" title="Thu Feb  4 22:50:42 2010" onclick="if (!cancelBubble) _go('detail?r=732')"><a href="detail?r=732" onclick="cancelBubble=true">Feb 04, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=732')"><div><a href="detail?r=732" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 <td class="id"><a href="detail?r=731">r731</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=731')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=731')">
 <div><a href="detail?r=731" onclick="cancelBubble=true">updated m2m-autocomplete widget: output values need to be comma seperated instead of using a list</a></div></td>
 
 <td nowrap="nowrap" title="Sun Jan 10 06:53:03 2010" onclick="if (!cancelBubble) _go('detail?r=731')"><a href="detail?r=731" onclick="cancelBubble=true">Jan 10, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=731')"><div><a href="detail?r=731" onclick="cancelBubble=true">sehmaschine</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=730">r730</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=730')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=730')">
 <div><a href="detail?r=730" onclick="cancelBubble=true">- made gFacelist messages customizable, updated dist files
</a></div></td>
 
 <td nowrap="nowrap" title="Sat Jan  9 11:38:27 2010" onclick="if (!cancelBubble) _go('detail?r=730')"><a href="detail?r=730" onclick="cancelBubble=true">Jan 09, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=730')"><div><a href="detail?r=730" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=729">r729</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=729')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=729')">
 <div><a href="detail?r=729" onclick="cancelBubble=true">fixed bug in gAutoSlugField, updated dist files, added unit tests for gActions</a></div></td>
 
 <td nowrap="nowrap" title="Sat Jan  9 11:01:36 2010" onclick="if (!cancelBubble) _go('detail?r=729')"><a href="detail?r=729" onclick="cancelBubble=true">Jan 09, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=729')"><div><a href="detail?r=729" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=728">r728</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=728')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=728')">
 <div><a href="detail?r=728" onclick="cancelBubble=true">added more unit tests</a></div></td>
 
 <td nowrap="nowrap" title="Fri Jan  8 21:26:59 2010" onclick="if (!cancelBubble) _go('detail?r=728')"><a href="detail?r=728" onclick="cancelBubble=true">Jan 08, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=728')"><div><a href="detail?r=728" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=727">r727</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=727')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=727')">
 <div><a href="detail?r=727" onclick="cancelBubble=true">re-added local/de manually</a></div></td>
 
 <td nowrap="nowrap" title="Fri Jan  8 20:40:06 2010" onclick="if (!cancelBubble) _go('detail?r=727')"><a href="detail?r=727" onclick="cancelBubble=true">Jan 08, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=727')"><div><a href="detail?r=727" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 <tr>
 
 
 
 
 <td class="id"><a href="detail?r=726">r726</a></td>
 
 
 
 <td onclick="if (!cancelBubble) _go('detail?r=726')" colspan="2"></td>
 
 
 <td class="logcontainer" onclick="if (!cancelBubble) _go('detail?r=726')">
 <div><a href="detail?r=726" onclick="cancelBubble=true">merged trunk to my branch (725)</a></div></td>
 
 <td nowrap="nowrap" title="Fri Jan  8 20:38:12 2010" onclick="if (!cancelBubble) _go('detail?r=726')"><a href="detail?r=726" onclick="cancelBubble=true">Jan 08, 2010</a></td>
 <td onclick="if (!cancelBubble) _go('detail?r=726')"><div><a href="detail?r=726" onclick="cancelBubble=true">haineault</a></div></td>
 </tr>
 
 
 
 </tbody>
</table>


